# Excluded folders to upload to Git
/build
/tests/build
/src/curl/build
/src/googletest/.github
/src/googletest/ci
/src/googletest/googlemock
/src/libzip/.githhub
/src/libzip/android
/src/libzip/examples
/src/libzip/man
/src/libzip/ossfuzz
/src/libzip/regress
/src/libzip/vstudio
/src/asio/.github
/src/asio/doc
/src/asio/example
/src/asio/meta
/src/asio/test
/src/asio/tools