# Build folders - 
# must include "/" backslash character at end e.g. "/build/" to exclude directory
/build/
/src/curl/src/
/src/curl/build/
/src/googletest/.github
/src/googletest/ci/
/src/googletest/googlemock/
/src/libzip/.githhub
/src/libzip/android/
/src/libzip/examples/
/src/libzip/man/
/src/libzip/ossfuzz/
/src/libzip/regress/
/src/libzip/vstudio/